DROP POLICY IF EXISTS \
Active
ads
are
viewable
by
everyone\ ON public.ads; CREATE POLICY \Active
ads
are
viewable
by
everyone\ ON public.ads FOR SELECT USING ((status = 'active'::ad_status AND NOT EXISTS (SELECT 1 FROM public.user_secrets us WHERE us.id = ads.user_id AND us.is_blocked = true)) OR (user_id = auth.uid()));
